################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularJs/config/applicationhost.config
/.vs/AngularJs/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/Projeto/v16/.suo
