<h1>{{message}}</h1>

<div>
    <p>Na lista de compras do mês é preciso constar produtos não perecíveis ou que tenham o prazo de validade mais
        longo.
    <p>Dê prioridade aos itens que você irá usar durante o mês e lembre-se que você deve calcular a quantidade exata de
        cada item da lista de compras para não faltar ou sobrar produto.</p>
    </p>
</div>

<ul>
    <li>Arroz</li>
    <li>Feijão</li>
    <li>Óleo</li>
    <li>Sal</li>
    <li>Açúcar</li>
    <li>Macarrão</li>
</ul>

<div class="pagina">
    <button ng-click="changeRouter('/compra')">Compras</button>
</div>